body {
    font-family: system-ui;
  }
  
  h1, h2, h3, h4, h5, p {
      margin-bottom: 1rem;
  }
  
  h1 {
      font-size: 2rem;
      font-weight: 700;
  }
  
  h2 {
      font-size: 1.5rem;
      font-weight: 500;
  }
  
  h3 {
      font-size: 1.25rem;
      font-weight: 400;
  }
  
  h4 {
      font-size: 1rem;
  }
  
  h5 {
      font-size: 0.75rem;
  }
  
  a[href]:not([class]) {
    text-decoration: underline;
    text-decoration-color: #1b68d562;
    text-decoration-thickness: 3px;
  
    &:hover {
      text-decoration-color: #1b68d5;
    }
  }

  hr {
    display: block;
    border-bottom: 1px dashed #00000033;
    margin-bottom: 1rem;
  }